﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
      
        <a href="@Url.Action("Create", "Order")">
            <span>Create Order</span>
        </a>
    </div>
    <div>
        <a href="@Url.Action("Index", "Order")">
            <span>Get Order</span>
        </a>
    </div>
     
</div>
